[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = AU
ST = Queensland
L = Brisbane
O = Clearview Consulting
OU = CAB230 Class 
CN = 192.168.1.2
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.localhost.com
DNS.2 = 192.168.1.2
DNS.3 = localhost
